@import url("reset.css");
@import url("global.css");

@import url("components/gear-dropdown.css");
@import url("components/interest-links.css");
@import url("components/main-content.css");
@import url("components/main-nav.css");
@import url("components/masthead.css");
@import url("components/search-modal.css");

.masthead {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
    margin: auto;
    padding: 0 40px;
  }
  
  .masthead__menu-and-search,
  .masthead__actions,
  .masthead__technologies,
  .masthead__date,
  .masthead__logo,
  .masthead__paper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    height: 40px;
    padding: 7px 9px;
  }
  
  .masthead__menu-and-search i,
  .masthead__actions button,
  .masthead__actions .masthead__action-icon i {
    padding: 7px 9px;
    font-size: 11px;
  }
  
  .masthead__menu-and-search i:hover,
  .masthead__actions button:hover,
  .masthead__actions .masthead__action-icon i:hover {
    background-color: #f2f2f2; /* Lightest Grey */
  }
  
  .masthead__technologies div {
    display: flex;
  }
  
  .masthead__technologies span {
    text-transform: uppercase;
    font-size: 10px;
    color: #333; /* Dark Grey */
    margin: 0 5px;
  }
  
  .masthead__logo img {
    max-width: 100%;
  }
  
  .masthead__date,
  .masthead__paper {
    font-size: 11px;
  }
  
  .masthead__paper {
    display: flex;
    justify-content: flex-end;
  }
  
  .masthead__menu-and-search,
  .masthead__actions,
  .masthead__date,
  .masthead__paper {
    border-bottom: 1px solid #ccc; /* Light Grey */
    border-top: 1px solid #ccc; /* Light Grey */
  }
  
  .masthead__technologies div {
    border-top: 1px solid #ccc; /* Light Grey */
    border-left: 1px solid #ccc; /* Light Grey */
    border-right: 1px solid #ccc; /* Light Grey */
    background-color: #fff; /* White */
    position: relative;
    top: 1px;
  }